@model IEnumerable<CajaPopular.tasa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
=======
<h2>Tasas</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
>>>>>>> 6e1296d4a735628ed03e8ab9d57936a716dd9e7b
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tasa1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcioin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tasa1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcioin)
        </td>
        <td>
<<<<<<< HEAD
            @Html.ActionLink("Edit", "Edit", new { id=item.uid }) |
            @Html.ActionLink("Details", "Details", new { id=item.uid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.uid })
=======
            @Html.ActionLink("Editar", "Edit", new { id=item.uid }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.uid }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.uid })
>>>>>>> 6e1296d4a735628ed03e8ab9d57936a716dd9e7b
        </td>
    </tr>
}

</table>
